
html {
  height: 100%; /* ustawienie elementu na 100% wysokości okna przeglądarki */
}

body {
  height: 100%; /* ustawienie elemetu body na 100% wysokości okna przeglądarki */
  margin: 0; /* eliminacja marginesów */
  font-family: Arial, Helvetica, sans-serif; /* określenie rodzajów czcionek, które mają być uzyte w ramach mozliwosci */
  display: grid; /* ustawienie układu */
  justify-items: center; /* wyśrodkowanie elementu wg osi poziomej kontenera*/
  align-items: center; /* wyśrodkowanie elementu wg osi pionowej kontenera */
  background-color: #5a7899; /* ustawienie koloru tła */
}


#main-holder {
  width: 60%; /* ustawienei szerokości */
  height: 40%; /* ustawienie wysokości */
  display: grid; /* ustawienie układu */
  justify-items: center; /* wyśrodkowanie elementu wg osi poziomej kontenera */
  align-items: center; /* wyśrodkowanie elementu wg osi pionowej kontenera */
  background-color: rgb(129, 130, 129); /* ustawienie koloru tła */
  border-radius: 5px; /* zaokrąglenie narożników */
  box-shadow: 0px 0px 5px 2px black; /* ustawienie cieni i koloru */
}
/* elementy child dziedziczą te ustawienia o ile nie zostaną nadpisane (w tym wypadku element h1) */


#login-form {
  align-self: flex-start;
  display: grid; /* ustawienie układu */
  justify-items: center; /* wyśrodkowanie elementu wg osi poziomej kontenera */
  align-items: center; /* wyśrodkowanie elementu wg osi pionowej kontenera */
}

.login-form-field::placeholder {
  color: #26405c; /* ustawienie koloru cziocnki wartosci placeholderow */
}

.login-form-field {
  border: none; /* usunięcie ramek okienka */
  border-bottom: 1px solid #aec6de; /* ustawienia dolenej ramki okienka */
  margin-bottom: 10px; /* ustawienia marginesu (odstępu) dolenj ramki okienka */
  border-radius: 3px; /* zaokrąglenie narożników */
  outline: none; /* usuniecie ramki okalajacej caly obiekt */
  padding: 0px 0px 5px 5px; /* ustawienia odstępów każdej strony okienka oddzielnie*/
}

#login-form-submit {
  width: 100%; /* ustawienei szerokości */
  padding: 7px; /* ustawienia odstępów każdej strony okienka */
  border: none; /* usunięcie ramek okienka */
  border-radius: 5px; /* zaokrąglenie narożników */
  color: rgb(56, 15, 15); /* ustawienie koloru cziocnki napisu przycisku */
  font-weight: bold; /* ustawienie rodzaju cziocnki napisu przycisku */
  background-color: #60a0e4; /* ustawienie koloru tła przycisku */
  cursor: pointer; /* wybor rodzaju kursora po najechaniu na przycisk */
  outline: none; /* usuniecie ramki okalajacej caly obiekt */
}